BC_XF_ROOT=/var/www/bareefers.org/forum
BC_XF_INTERNAL_DATA_ROOT=/var/www/bareefers.org/forum/internal_data
BC_XF_DATA_ROOT=/var/www/bareefers.org/forum/data
BC_XF_DB_PREFIX=xf_

BC_XF_DB_SSH_CREDENTIALS=host,22,user,password,3306
BC_XF_DB_CREDENTIALS=database,user,password

BC_XF_VIDEO_QUEUE_ROOT=/var/www/bareefers.org/forum/internal_data/video_queue
BC_XF_VIDEO_FFMPEG=/usr/bin/ffmpeg
BC_XF_VIDEO_FFPROBE=/usr/bin/ffprobe
BC_XF_VIDEO_TRANSCODE_ALL=false
BC_XF_VIDEO_OUTPUT_HEIGHT=1080
BC_XF_VIDEO_CRF=23
BC_XF_VIDEO_PRESET=veryfast
BC_XF_VIDEO_MAX_ATTEMPTS=3
BC_XF_VIDEO_WORKER_INTERVAL_MS=5000
BC_XF_VIDEO_FFMPEG_TIMEOUT_SECONDS=1800
BC_XF_VIDEO_FFPROBE_TIMEOUT_SECONDS=120
BC_XF_VIDEO_CLEANUP_HOURS=24
